<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaora.anunciosapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/advertising_roxo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LaunchActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CidadesActivity"
            android:label="Anúncios App" />
        <activity
            android:name=".activities.PublicacoesActivity"
            android:label="Publicações" />
        <activity
            android:name=".activities.CategoriasActivity"
            android:label="Categorias" />
        <activity
            android:name=".activities.PreferenciasActivity"
            android:label="Preferências" />
        <activity
            android:name=".activities.AnunciantesActivity"
            android:label="Anunciantes" />
        <activity android:name=".activities.AnuncianteActivity" />
        <activity android:name=".activities.MeusAnunciosActivity" />
        <activity
            android:name=".activities.AvisoPerfilActivity"
            android:label="Perfil" />
        <activity
            android:name=".activities.NewAdvertiserActivity"
            android:label="Novo perfil" />
        <activity
            android:name=".activities.SelecionarPerfilActivity"
            android:label="Selecione o perfil" />
        <activity
            android:name=".activities.NewPublicationActivity"
            android:label="Nova Publicação" />
        <activity
            android:name=".activities.AnuncioPublicado"
            android:label="@string/title_activity_anuncio_publicado"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ACTION_NOVO_ANUNCIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.PublicacaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RemovePublicacoesVencidasService"
            android:exported="false" />

        <receiver
            android:name=".receivers.MyAlarmReceiver"
            android:process=":remote" />

    </application>

</manifest>